.navbar-custom {
  background-color: #001f3f;
  /* Colore di sfondo */
  color: white;
  height: 100%;
  width: 100% !important;
  min-width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.logo-img {
  max-height: 50px;
}

/* Specifica colore bianco per tutti i testi, link e icone */
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .dropdown-item,
.navbar-custom .mat-icon {
  color: white !important;
}

/* Dropdown Menu - Profilo e Lingua */
.dropdown-menu {
  background-color: #074e95;
  border: none;
  z-index: 1050;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #074e95;
  color: white;
}

/* Stile per mantenere l'icona in bianco */
.navbar-custom .mat-icon {
  color: white;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
}

.logo-align {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

/* Regole aggiuntive per smartphone */
@media (max-width: 768px) {
  .container-fluid {
    padding: 0;
  }

  .navbar-title {
    font-size: 1rem !important;
    font-weight: bold;
  }

  .logo-img {
    max-height: 35px !important;
  }

  .logo-align {
    display: flex;
    align-self: center!important;;
    justify-content: center!important;;
    align-items: center!important;;
  }

  .dropdown-menu {
    position: fixed;
    top: auto;
    right: 0;
    left: auto;
    width: auto;
    z-index: 1050;
  }
}

/* Regole aggiuntive per tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .title-image {
    width: 150px;
  }

  .dropdown-menu {
    position: fixed;
    top: auto;
    right: 0;
    left: auto;
    width: auto;
    z-index: 1050;
  }
}