<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="container-fluid">
    <!-- Prima colonna: Logo e Titolo con wrap text -->
    <div class="col-6 d-flex align-items-center">
      <img src="assets/icons/logo-app.png" alt="logo-app" class="logo-img me-2">
      <div class="navbar-title text-wrap">
        <span class="navbar-brand">{{ 'SYSTEM_NAVBAR.TITLE' | translate }}</span>
      </div>
    </div>

    <!-- Seconda colonna: Menu Profilo e Lingua allineati a destra -->
    <div class="col-6 d-flex justify-content-end align-items-center">
      <ul class="navbar-nav d-flex align-items-center">

        <!-- Dropdown per l'utente (solo se autenticato) -->
        <li *ngIf="isAuthenticating" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <mat-icon>person</mat-icon>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="/profile">{{ 'USER.PROFILE' | translate }}</a></li>
            <li><a class="dropdown-item" href="/settings">{{ 'USER.SETTINGS' | translate }}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><button class="dropdown-item" (click)="logout()">{{ 'USER.LOGOUT' | translate }}</button></li>
          </ul>
        </li>

        <!-- Dropdown per la selezione della lingua -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <span class="{{ selectedFlag }}"></span> {{ selectedLanguage }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
            <li *ngFor="let language of languages">
              <button class="dropdown-item" type="button" (click)="changeLanguage(language.code)">
                <span class="{{ language.flag }}"></span> {{ language.label }}
              </button>
            </li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
