.navbar-custom {
  background-color: #001f3f;
  color: white;
}

.app-title {
  letter-spacing: 2px;
  margin: 0;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo-img {
  max-height: 60px;
  object-fit: contain;
}

/* Specifica colore bianco per tutti i testi, link e icone */
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .dropdown-item,
.navbar-custom .mat-icon {
  color: white !important;
}

/* Stile per mantenere l'icona in bianco */
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba%28255%2C 255%2C 255%2C 1%29%22 stroke-width%3D%222%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E');
}

/* Dropdown Menu - Profilo e Lingua */
.dropdown-menu {
  background-color: #074e95;
  border: none;
  z-index: 10;
}

.dropdown-menu .dropdown-item {
  color: white;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #074e95;
  color: white;
}

/* Stile per mantenere l'icona in bianco */
.navbar-custom .mat-icon {
  color: white;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  display: flex;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .logo-img {
    max-height: 50px !important;
  }
}

/* Regole aggiuntive per tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .logo-img {
    max-height: 40px !important;
  }
}

/* Regole aggiuntive per smartphone */
@media (max-width: 767px) {
  .logo-img {
    max-height: 30px !important;
  }
}
