rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Consenti l'accesso completo alla collezione 'application-logs' senza autenticazione
    match /application-logs/{document=**} {
      allow read, write, update, delete: if true;
    }

    // Richiedi l'autenticazione per tutte le altre collezioni
    match /{document=**} {
      allow read, write, update, delete: if request.auth != null;
    }
  }
}
