rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Consenti la lettura, scrittura, aggiornamento e cancellazione se l'utente è autenticato
    match /{document=**} {
      allow read, write, update, delete: if request.auth != null;
    }
  }
}