<h2 mat-dialog-title>{{ character.id ? ('ULTIMA_ROTTA.CREATE_CHARACTER.EDIT_CHARACTER' | translate) : ('ULTIMA_ROTTA.CREATE_CHARACTER.CREATE_CHARACTER' | translate) }}</h2>
<div mat-dialog-content>
    <form #characterForm="ngForm" (ngSubmit)="save(characterForm)">

        <!-- Nome -->
        <div class="mb-3">
            <label for="name" class="form-label text-muted fw-semibold">{{ 'ULTIMA_ROTTA.SHEET.NAME' | translate }}</label>
            <input type="text" id="name" class="form-control form-control-sm" [(ngModel)]="character.name" name="name" required>
        </div>

        <!-- Genetica -->
        <div class="mb-3">
            <label for="genetic" class="form-label text-muted fw-semibold">{{ 'ULTIMA_ROTTA.SHEET.GENETIC' | translate }}</label>
            <select id="genetic" class="form-select form-select-sm" [(ngModel)]="character.genetic" name="genetic" required>
                <option *ngFor="let option of data.geneticDefaultData" [ngValue]="option">{{ option.description }}</option>
            </select>
        </div>

        <!-- Ruolo -->
        <div class="mb-3">
            <label for="role" class="form-label text-muted fw-semibold">{{ 'ULTIMA_ROTTA.SHEET.ROLE' | translate }}</label>
            <select id="role" class="form-select form-select-sm" [(ngModel)]="character.role" name="role" required>
                <option *ngFor="let option of data.rolesDefaultData" [ngValue]="option">{{ option.description }}</option>
            </select>
        </div>

        <!-- Eccellenza -->
        <div class="mb-3">
            <label for="excellence" class="form-label text-muted fw-semibold">{{ 'ULTIMA_ROTTA.SHEET.EXCELLENCE' | translate }}</label>
            <select id="excellence" class="form-select form-select-sm" [(ngModel)]="character.excellence" name="excellence">
                <option *ngFor="let attribute of character.attributes" [ngValue]="attribute.description">{{ attribute.description }}</option>
            </select>
        </div>

        <!-- Seleziona Genes -->
        <div *ngIf="character.genetic?.genes?.length > 0" class="mb-3">
            <label class="form-label text-muted fw-semibold">{{ 'ULTIMA_ROTTA.SHEET.SELECT_GENES' | translate }}</label>
            <div class="d-flex">
                <div class="col-4" *ngFor="let gene of character.genetic.genes; let i = index">
                    <select class="form-select form-select-sm" [(ngModel)]="character.genetic.genes[i]" name="selectedGene{{ i }}" required>
                        <option *ngFor="let geneOption of data.getDefaultGenes(character.genetic.code)" [ngValue]="geneOption">{{ geneOption }}</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Attributi -->
        <h4 class="section-title">{{ 'ULTIMA_ROTTA.SHEET.ATTRIBUTES' | translate }}</h4>
        <div class="row g-1 p-3 border">
            <div *ngFor="let attribute of character.attributes" class="col-12 mb-2">
                <label [for]="attribute.code" class="form-label text-muted fw-semibold w-100 text-center">{{ 'ULTIMA_ROTTA.ATTRIBUTES.' + attribute.code | translate }}</label>
                <div class="d-flex justify-content-center align-items-center">
                    <input type="number" class="form-control form-control-sm text-center me-1 w-50" [(ngModel)]="attribute.value" [name]="attribute.code + 'Value'" step="1">
                    <label class="form-label text-center mx-1 text-muted fw-semibold">D</label>
                    <input type="number" class="form-control form-control-sm text-center w-50" [(ngModel)]="attribute.bonus" [name]="attribute.code + 'Bonus'" step="1">
                </div>
            </div>
        </div>

        <!-- Statistiche -->
        <h4 class="section-title">{{ 'ULTIMA_ROTTA.SHEET.STATS' | translate }}</h4>
        <div class="row g-1 p-3 border">
            <div class="col-6">
                <label for="mana" class="form-label text-muted fw-semibold">{{ 'ULTIMA_ROTTA.SHEET.MAX_MANA' | translate }}</label>
                <input type="number" id="mana" class="form-control form-control-sm" [(ngModel)]="character.mana" name="mana">
            </div>
            <div class="col-6">
                <label for="life" class="form-label text-muted fw-semibold">{{ 'ULTIMA_ROTTA.SHEET.MAX_LIFE' | translate }}</label>
                <input type="number" id="life" class="form-control form-control-sm" [(ngModel)]="character.life" name="life">
            </div>
        </div>

        <!-- Inventory & Background -->
        <h4 class="section-title">{{ 'ULTIMA_ROTTA.SHEET.ADDITIONAL_INFO' | translate }}</h4>
        <div class="mb-3">
            <label for="inventory" class="form-label text-muted fw-semibold">{{ 'ULTIMA_ROTTA.SHEET.INVENTORY' | translate }}</label>
            <textarea id="inventory" class="form-control form-control-lg" [(ngModel)]="character.inventory" name="inventory"></textarea>
        </div>
        <div class="mb-3">
            <label for="background" class="form-label text-muted fw-semibold">{{ 'ULTIMA_ROTTA.SHEET.BACKGROUND' | translate }}</label>
            <textarea id="background" class="form-control form-control-lg" [(ngModel)]="character.background" name="background"></textarea>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">{{ 'ULTIMA_ROTTA.SHEET.CANCEL' | translate }}</button>
    <button mat-button color="primary" (click)="save(characterForm)" [disabled]="!characterForm.valid">{{ 'ULTIMA_ROTTA.SHEET.SAVE_CHARACTER' | translate }}</button>
</div>