<div class="row justify-content-center" style="padding: 20px; height: auto;">
  <!-- Colonna sinistra (vuota) -->
  <div class="col-1 col-md-2 col-lg-2 d-none d-md-block"></div>

  <!-- Colonna centrale (con la card di login) -->
  <div class="col-10 col-md-8 col-lg-8 d-flex justify-content-center">
    <div class="login-container">
      <mat-card class="login-card text-center" style="margin-top: 5vh;">
        
          <!-- Colonna sinistra (logo) -->
          <div class="col-12 col-md-4 col-lg-4">
            <img src="assets/icons/logo-app.png" alt="logo-app" width="200" height="200" class="logo-app">
          </div>

          <!-- Colonna destra (titolo, descrizione e pulsante) -->
          <div class="col-12 col-md-8 col-lg-8 d-flex flex-column justify-content-center text-center">
            <mat-card-header class="login-card-header">
              <mat-card-title>{{ 'LOGIN.TITLE' | translate }}</mat-card-title>
              <mat-card-subtitle>{{ 'LOGIN.DESCRIPTION' | translate }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="login-card-content">
              <!-- Bottone di login -->
              <div class="card-content-footer">
                <button mat-raised-button color="primary" class="google-login-btn" (click)="loginWithGoogle()">
                  <img src="assets/icons/google-logo.svg" alt="Google" width="20" height="20" class="google-logo">
                  {{ 'LOGIN.LOGIN_GOOGLE' | translate }}
                </button>
              </div>
            </mat-card-content>
          </div>
       
      </mat-card>
    </div>
  </div>

  <!-- Colonna destra (vuota) -->
  <div class="col-1 col-md-2 col-lg-2 d-none d-md-block"></div>
</div>
