.login-card {
  display: flex;
  padding: 20px;
  flex-direction: row;
  max-width: 100%;
  height: auto; /* Assicura che la card si adatti al contenuto */
}

.login-container {
  width: 100%; /* Assicura che il contenitore riempia la colonna */
}

.google-login-btn {
  display: flex;
  align-items: center;
  gap: 10px; /* Spazio tra il logo e il testo */
  margin-top: 50px;
}



@media (max-width: 767px) {
  /* Stile per dispositivi mobili */
  .login-card {
    width: 100vh;
    min-height: 40vh; /* Altezza minore sui dispositivi mobili */
  }
}
