<!-- DIV Esterno scrollabile -->
<div class="scroll-container">
    <div #pngCard class="p-2">
        <div class="card shadow-lg p-1 bg-white rounded">
            <div class="card-body overflow-y-visible">
                <h2 class="card-title">{{ data.name }}</h2>
                <p class="card-subtitle text-muted">
                    <em>
                        {{ data.size }} {{ data.type }}
                        <span *ngIf="data.alignment">, {{ data.alignment }}</span>
                    </em>
                </p>
                <hr class="divider">

                <!-- Sezione Dati -->
                <div class="d-flex flex-wrap">
                    <p *ngIf="data.armorClass" class="col-lg-4 col-md-6 col-12">
                        <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.ARMOR_CLASS' | translate }}</strong>:
                        {{ data.armorClass }}
                    </p>
                    <p *ngIf="data.hitPoints" class="col-lg-4 col-md-6 col-12">
                        <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.HIT_POINTS' | translate }}</strong>: {{
                        data.hitPoints }}
                    </p>
                    <p *ngIf="data.speed" class="col-lg-4 col-md-6 col-12">
                        <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SPEED' | translate }}</strong>: {{
                        data.speed }}
                    </p>
                </div>
                <hr class="divider">

                <!-- Sezione Attributi -->
                <div class="d-flex flex-wrap justify-content-start">
                    <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
                        <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SHORT_STRENGTH' | translate }} </strong>
                        <span class="text-center">{{ data.attributes.strength }} {{getModifierBonus(data.attributes.strength)}}</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
                        <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SHORT_DEXTERITY' | translate }} </strong>
                        <span class="text-center">{{ data.attributes.dexterity }} {{getModifierBonus(data.attributes.dexterity)}}</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
                        <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SHORT_CONSTITUTION' | translate }} </strong>
                        <span class="text-center">{{ data.attributes.constitution }} {{getModifierBonus(data.attributes.constitution)}}</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
                        <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SHORT_INTELLIGENCE' | translate }} </strong>
                        <span class="text-center">{{ data.attributes.intelligence }} {{getModifierBonus(data.attributes.intelligence)}}</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 d-flex flex-column text-center">
                        <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SHORT_WISDOM' | translate }} </strong>
                        <span class="text-center">{{ data.attributes.wisdom }} {{getModifierBonus(data.attributes.wisdom)}}</span>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-5 d-flex flex-column text-center">
                        <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SHORT_CHARISMA' | translate }} </strong>
                        <span class="text-center">{{ data.attributes.charisma }} {{getModifierBonus(data.attributes.charisma)}}</span>
                    </div>
                </div>

                <hr class="divider">

                <!-- Sezione Salvataggi -->
                <div *ngIf="data.save" class="d-flex flex-wrap">
                    <div class="col-2">
                        <p class="col-lg-12 col-md-12 col-12"><strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SAVING_THROWS' | translate }}:</strong></p>
                    </div>
                    <div class="col-10">
                        <span *ngIf="data.save" class="col-lg-2 col-md-4 col-6"> {{ data.save }}</span>
                    </div>
                </div>

                <!-- Altre Informazioni -->
                <p *ngIf="data.skills && data.skills.length > 0 && !isObjectEmpty(data.skills)" class="col-12">
                    <strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SKILLS' | translate }}:</strong> {{ data.skills.join(', ') }}
                </p>
                <p *ngIf="data.damageResistances" class="col-12"><strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.DAMAGE_RESISTANCES' | translate
                        }}:</strong> {{ data.damageResistances }}</p>
                <p *ngIf="data.damageVulnerabilities" class="col-12"><strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.DAMAGE_VULNERABILITIES' | translate
                        }}:</strong> {{ data.damageVulnerabilities }}</p>
                <p *ngIf="data.damageImmunities" class="col-12"><strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.DAMAGE_IMMUNITIES' | translate }}:</strong>
                    {{ data.damageImmunities }}</p>
                <p *ngIf="data.conditionImmunities" class="col-12"><strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.CONDITION_IMMUNITIES' | translate
                        }}:</strong> {{ data.conditionImmunities }}</p>
                <p *ngIf="data.senses" class="col-12"><strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SENSES' | translate }}:</strong> {{ data.senses }}</p>
                <p *ngIf="data.passivePerception" class="col-12"><strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.PASSIVE_PERCEPTION' | translate
                        }}:</strong> {{ data.passivePerception }}</p>
                <p *ngIf="data.languages" class="col-12"><strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.LANGUAGES' | translate }}:</strong> {{
                    data.languages }}</p>
                <p *ngIf="data.challengeRating" class="col-12"><strong>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.CHALLENGE_RATING' | translate }}:</strong> {{
                    data.challengeRating }}</p>

                <!-- Sezione con Traits, Actions, e Legendary Actions -->
                <h4 *ngIf="data.traits && data.traits.length > 0" class="mt-3">{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.TRAITS' | translate }}</h4>
                <div *ngFor="let trait of data.traits" class="d-flex flex-wrap mb-2">
                    <p class="col-12"><strong>{{ trait.name }}</strong>: {{ trait.description }}</p>
                    <p *ngIf="trait.attack" class="col-12"><em>{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.TRAIT_ATTACK' | translate }}</em>: {{ trait.attack }}
                    </p>
                </div>

                <h4 *ngIf="data.actions && data.actions.length > 0" class="mt-3">{{ 'COMMON.ACTIONS' | translate }}</h4>
                <div *ngFor="let action of data.actions" class="d-flex flex-wrap mb-2">
                    <p class="col-12">
                        <strong>{{ action.name }}</strong>
                        <span *ngIf="action.description">: {{ action.description }}</span>
                    </p>
                    <p *ngIf="action.attack" class="col-12"> {{ action.attack }}</p>
                </div>

                <h4 *ngIf="data.legendaryActions && data.legendaryActions.length > 0" class="mt-3">{{'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.LEGENDARY_ACTIONS' | translate }}</h4>
                <div *ngFor="let legendaryAction of data.legendaryActions" class="d-flex flex-wrap mb-2">
                    <p class="col-12">
                        <strong>{{ legendaryAction.name }}</strong>
                        <span *ngIf="legendaryAction.description">: {{ legendaryAction.description }}</span>
                    </p>
                </div>

                <h4 *ngIf="data.spells && data.spells.length > 0" class="mt-3">{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SPELLS' | translate }}</h4>
                <div *ngFor="let spell of data.spells" class="d-flex flex-wrap mb-2">
                    <p class="col-12">
                        <strong *ngIf="spell.level">{{ 'DUNGEON_AND_DRAGONS_5E.PNG_GENERATOR.SPELL_LEVEL' | translate }} {{ spell.level}}</strong>
                        <span *ngIf="spell.spellName">: {{ spell.spellName }}</span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Pulsanti di azione -->
<div class="card-footer d-flex justify-content-end">
    <button mat-button (click)="downloadPNG()" class="btn btn-primary me-2">
        {{ 'COMMON.DOWNLOAD_PNG' | translate }}
    </button>
    <button mat-button (click)="close()" class="btn btn-secondary">
        {{ 'COMMON.CLOSE' | translate }}
    </button>
</div>