<div class="container-fluid m-0 w-100 h-100">
    <div class="row h-100 m-0">

        <div [ngClass]="showSiteMap ? 'site-map-open' : 'site-map-closed'">
            <app-feature-area [gameName]="gameName" class="w-100"  (toggoleSiteMap)="onToggleSiteMap($event)"></app-feature-area>
        </div>

        <div  [ngClass]="showSiteMap ? 'game-area-with-site-map-open' : 'game-area-with-site-map-closed'">
                <div class="ultima-rotta-info-bar d-flex justify-content-center align-items-center">
                    <div class="row w-100 p-1">
                        <div class="col-1 col-md-1 col-lg-1 d-flex justify-content-center align-items-center"
                            (click)="startTimer()">
                            <div class="col-12 col-md-12 col-lg-12">
                                <h4 class="m-0">{{ timerDisplay }}</h4>
                            </div>
                        </div>
                        <div class="col-10 col-md-10 col-lg-10 d-flex justify-content-center align-items-center">
                            <div class="col-3 col-md-3 col-lg-3">
                                <h4>Test Morte Solare + {{ solarDeathTestValue }}</h4>
                            </div>
                            <div class="col-9 col-md-9 col-lg-9">
                                <p>Effetto</p>
                            </div>
                        </div>
        
                        <div class="col-1 col-md-1 col-lg-1 d-flex justify-content-center align-items-center">
                            <div class="col-12 col-md-12 col-lg-12">
                                <mat-icon *ngIf="isDarkIconVisible">brightness_3</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Seconda Riga Scrollabile -->
            <div class="row w-100 flex-grow-1 overflow-auto mt-3">
                <router-outlet class="w-100"></router-outlet>
            </div>
        </div>
    </div>
</div>