<div class="container-fluid m-0 p-0 w-100 h-100">

    <div *ngIf="!isSmallDevice()" class="row h-100 m-0">

        <div [ngClass]="showSiteMap ? 'site-map-open' : 'site-map-closed'">
            <app-feature-area [gameConfig]="gameConfig" class="w-100 h-100"    (toggoleSiteMap)="onToggleSiteMap($event)"></app-feature-area>
        </div>

        <div [ngClass]="showSiteMap ? 'game-area-with-site-map-open' : 'game-area-with-site-map-closed'">
            <div class="ultima-rotta-info-bar d-flex justify-content-center align-items-center w-100">
                <ng-container *ngTemplateOutlet="deathSunTemplate"></ng-container>
            </div>
            <!-- Seconda Riga Scrollabile -->
            <div class="container-fluid m-0 w-100 overflow-visibile">
                <router-outlet class="w-100 m-0 p-0"></router-outlet>
            </div>
        </div>
    </div>

    <div *ngIf="isSmallDevice()">
        <div [ngClass]="showSiteMap ? 'site-map-open-small-device' : 'site-map-closed-small-device'">
            <app-feature-area [gameConfig]="gameConfig" class="w-100 d-flex justify-content-center align-items-center"
                (toggoleSiteMap)="onToggleSiteMap($event)"></app-feature-area>
        </div>

        <div [ngClass]="showSiteMap ? 'game-area-with-site-map-open-small-device' : 'game-area-with-site-map-closed-small-device'">
            <div class="ultima-rotta-info-bar d-flex justify-content-center align-items-center p-0 m-0 w-100">
                <ng-container *ngTemplateOutlet="deathSunTemplate"></ng-container>
            </div>

            <div class="container-fluid  m-0  w-100 overflow-visibile">
                <router-outlet class="w-100 m-0 p-0"></router-outlet>
            </div>
        </div>
    </div>
</div>


<ng-template #deathSunTemplate>
    <div class="row w-100 p-3">
      
      <!-- Icona di Inizializzazione -->
      <div class="col-2 d-flex justify-content-center align-items-center" (click)="initDeathSun()" style="cursor: pointer;">
        <mat-icon>build</mat-icon>
      </div>
  
      <!-- Timer -->
      <div class="col-2 d-flex justify-content-center align-items-center" (click)="handleTimer()" style="cursor: pointer;">
        <h4 class="m-0 text-white align-items-center">{{ timerDisplay }}</h4>
      </div>
  
      <!-- Test Bonus -->
      <div *ngIf="solarDeathTestValue < 21" class="col-7 d-flex justify-content-center align-items-center" (click)="showLastMessage()" style="cursor: pointer;">
        <h4 class="text-white text-center">{{ 'ULTIMA_ROTTA.DEATH_SUN.TEST_BONUS' | translate }}: + {{ solarDeathTestValue }}</h4>
      </div>
  
      <!-- Global Counter (mostrato solo se counterPermanentDeathOfSun > 0) -->
      <div *ngIf="solarDeathTestValue > 20" class="col-7 d-flex justify-content-center align-items-center">
        <h4 class="text-white text-center">{{ 'ULTIMA_ROTTA.DEATH_SUN.GLOBAL_COUNTER' | translate }}: {{ counterPermanentDeathOfSun }}</h4>
      </div>
  
      <!-- Icona Notte (mostrata solo se isDarkIconVisible è true) -->
      <div class="col-1 d-flex justify-content-center align-items-center">
        <mat-icon class="text-white text-center" *ngIf="isDarkIconVisible">brightness_3</mat-icon>
      </div>
  
    </div>
</ng-template>
  