<app-dynamic-wrapper-modal class="h-100">
    <mat-card class="w-100 d-flex flex-column">
      <mat-card-header>
        <mat-card-title>{{ 'FEATURE.TURN_ORDER_FEATURE.TITLE' | translate }}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="content-scroll">
        <!-- Input fields to add new characters with initiative and health -->
        <div class="row m-0 p-1 d-flex justify-content-center align-items-center">
          <div class="p-1 col-4 col-md-5 col-lg-5 d-flex justify-content-start align-items-start">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'FEATURE.TURN_ORDER_FEATURE.CHARACTER_NAME' | translate }}</mat-label>
              <input matInput #characterName
                placeholder="{{ 'FEATURE.TURN_ORDER_FEATURE.NAME_PLACEHOLDER' | translate }}" required />
            </mat-form-field>
          </div>

          <div class="p-1 col-4 col-md-3 col-lg-3 d-flex justify-content-start align-items-center">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'FEATURE.TURN_ORDER_FEATURE.INITIATIVE' | translate }}</mat-label>
              <input matInput #characterInitiative type="number"
                placeholder="{{ 'FEATURE.TURN_ORDER_FEATURE.INITIATIVE_PLACEHOLDER' | translate }}" />
            </mat-form-field>
          </div>

          <div class="p-1 col-4 col-md-3 col-lg-3 d-flex justify-content-start align-items-center">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'FEATURE.TURN_ORDER_FEATURE.HEALTH' | translate }}</mat-label>
              <input matInput #characterHealth type="number"
                placeholder="{{ 'FEATURE.TURN_ORDER_FEATURE.HEALTH_PLACEHOLDER' | translate }}" />
            </mat-form-field>
          </div>

          <div class="p-1 col-12 col-md-1 col-lg-1 d-flex justify-content-center align-items-center">
            <app-field-button colorClass="btn-primary" icon="add"
              tooltip="{{ 'FEATURE.TURN_ORDER_FEATURE.ADD' | translate }}"
              (buttonClick)="addCharacter(characterName.value, characterInitiative.valueAsNumber, characterHealth.valueAsNumber)">
            </app-field-button>
          </div>
        </div>

        <mat-divider class="settings-divider mb-2"></mat-divider>

        <!-- Responsive Character list table -->
        <mat-card class="character-table-card">
          <div class="table-wrapper p-1">
            <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8 responsive-table" matSort>

              <!-- Initiative Column (Editable) -->
              <ng-container matColumnDef="initiative">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FEATURE.TURN_ORDER_FEATURE.INITIATIVE_COLUMN'
                  |
                  translate }}</th>
                <td mat-cell *matCellDef="let character" class="small-col">
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput type="number" [(ngModel)]="character.initiative"
                      (ngModelChange)="sortCharacters()" />
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Character Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="p-1">{{
                  'FEATURE.TURN_ORDER_FEATURE.NAME_COLUMN' | translate }}</th>
                <td mat-cell *matCellDef="let character" class="text-wrap">{{ character.name }}</td>
              </ng-container>

              <!-- Health Column (Editable) -->
              <ng-container matColumnDef="health">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FEATURE.TURN_ORDER_FEATURE.HEALTH_COLUMN' |
                  translate }}</th>
                <td mat-cell *matCellDef="let character" class="small-col">
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput type="number" [(ngModel)]="character.health" />
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Actions Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>{{ 'FEATURE.TURN_ORDER_FEATURE.ACTIONS_COLUMN' | translate }}</th>
                <td mat-cell *matCellDef="let character" class="action-col">
                  <app-field-button colorClass="btn-danger" icon="delete"
                    tooltip="{{ 'FEATURE.TURN_ORDER_FEATURE.DELETE' | translate }}"
                    (buttonClick)="removeCharacter(character)">
                  </app-field-button>
                </td>
              </ng-container>

              <!-- Header and Row Declarations -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-card>

      </mat-card-content>

      <mat-card-actions align="end">
        <app-field-button colorClass="btn-success" icon="close"
          tooltip="{{ 'FEATURE.TURN_ORDER_FEATURE.CLOSE' | translate }}" (buttonClick)="close()">
        </app-field-button>
      </mat-card-actions>
    </mat-card>
</app-dynamic-wrapper-modal>