<app-dynamic-wrapper-modal class="h-100" [dialogRef]="dialogRef" [IdmlTitle]="'FEATURE.TURN_ORDER'">
 
    <mat-card-content>
      <div class="row m-0 p-1 d-flex justify-content-center align-items-center">
          
        <div class="p-1 col-4 d-flex justify-content-start align-items-start">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'TURN_ORDER_FEATURE.CHARACTER_NAME' | translate }}</mat-label>
            <input matInput #characterName  placeholder="{{ 'TURN_ORDER_FEATURE.CHARACTER_NAME' | translate }}" required />
          </mat-form-field>
        </div>

        <div class="p-1 col-1 d-flex justify-content-start align-items-center">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'TURN_ORDER_FEATURE.INITIATIVE' | translate }}</mat-label>
            <input matInput #characterInitiative type="number"
              placeholder="{{ 'TURN_ORDER_FEATURE.INITIATIVE' | translate }}" />
          </mat-form-field>
        </div>

        <div class="p-1 col-1 d-flex justify-content-start align-items-center">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'TURN_ORDER_FEATURE.TARGET' | translate }}</mat-label>
            <input matInput #target type="number" placeholder="{{ 'TURN_ORDER_FEATURE.TARGET' | translate }}" />
          </mat-form-field>
        </div>

        <div class="p-1 col-1 d-flex justify-content-start align-items-center">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'TURN_ORDER_FEATURE.MAX_HEALTH' | translate }}</mat-label>
            <input matInput #maxHealth type="number"  placeholder="{{ 'TURN_ORDER_FEATURE.MAX_HEALTH' | translate }}" />
          </mat-form-field>
        </div>

        <div class="p-1 col-1 d-flex justify-content-start align-items-center">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'TURN_ORDER_FEATURE.HEALTH' | translate }}</mat-label>
            <input matInput #characterHealth type="number"
              placeholder="{{ 'TURN_ORDER_FEATURE.HEALTH' | translate }}" />
          </mat-form-field>
        </div>

        <div class="p-1 col-12 col-md-1 col-lg-1 d-flex justify-content-center align-items-center">
          <app-field-button colorClass="btn-primary" icon="add"
            tooltip="{{ 'COMMON.ADD' | translate }}"
            (buttonClick)="addCharacter(characterName.value, characterInitiative.valueAsNumber, characterHealth.valueAsNumber, target.valueAsNumber, maxHealth.valueAsNumber)"
            [isDisabled]="!characterName.value">
          </app-field-button>
        </div>
      </div>
      <mat-divider class="settings-divider mb-2"></mat-divider>
    </mat-card-content>

    <!-- Scrollable content area for character list -->
    <mat-card-content id="content-scrollable" class="w-100 flex-grow-1 overflow-y-auto">
      <div class="row m-0 p-1" *ngFor="let character of characters">
        <!-- Initiative Column (Editable) -->
        <div class="col-1">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'TURN_ORDER_FEATURE.INITIATIVE' | translate }}</mat-label>
                <input matInput type="number" [(ngModel)]="character.initiative" (ngModelChange)="sortCharacters()" />
            </mat-form-field>
        </div>
        <!-- Character Name Column -->
        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'TURN_ORDER_FEATURE.NAME_COLUMN' | translate }}</mat-label>
                <input matInput [(ngModel)]="character.name" readonly />
            </mat-form-field>
        </div>
        <!-- Additional Columns -->
        <div class="col-1">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'TURN_ORDER_FEATURE.TARGET' | translate }}</mat-label>
              <input matInput type="number" [(ngModel)]="character.target" />
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'TURN_ORDER_FEATURE.MAX_HEALTH' | translate }}</mat-label>
              <input matInput type="number" [(ngModel)]="character.maxHealth" />
          </mat-form-field>
        </div>
        <div class="col-1">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'TURN_ORDER_FEATURE.HEALTH' | translate }}</mat-label>
                <input matInput type="number" [(ngModel)]="character.health" />
            </mat-form-field>
        </div>
        <!-- Actions Column -->
        <div class="col-1 d-flex justify-content-end">
            <app-field-button 
                colorClass="btn-danger" 
                icon="delete" 
                tooltip="{{ 'COMMON.DELETE' | translate }}" 
                (buttonClick)="removeCharacter(character)">
            </app-field-button>
        </div>
      </div>
    </mat-card-content>      
    
</app-dynamic-wrapper-modal>
