/* Titolo in navabar */

/* Titolo in navabar */

/* Contenitore principale */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Colonna di sinistra con scroll separato */
#site-map {
  overflow-y: auto;
}

/* Colonna di destra scrollabile */
#game-area {
  overflow-y: auto;
}

/* Riga fissa in fondo */
.game-footer-fixed {
  background-color: #333;
  color: white;
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  height: 100%;
}



@media (min-width: 992px) {
  #game-area {
      height: calc(100% - 80px);
  }

  .game-footer-fixed {
      height: 80px;
  }
  
}

/* Altezza per tablet */
@media (min-width: 768px) and (max-width: 991px) {
  #game-area {
    height: calc(100% - 70px);
}
  .game-footer-fixed {
      height: 70px;
  }
}

/* Altezza per smartphone */
@media (max-width: 767px) {
  #game-area {
    height: calc(100% - 860px);
}
  .game-footer-fixed {
      height: 60px;
  }

}