<div class="main-container d-flex flex-column h-100">
    <div class="row flex-grow-1 w-100 m-0">

        <!-- Colonna di sinistra (2 su 12) con scroll separato -->
        <div id="site-map" class="col-2">
            <p>Contenuto colonna sinistra</p>
            <p>Altro contenuto</p>
            <p>Contenuto aggiuntivo...</p>
        </div>

        <!-- Colonna di destra scrollabile (10 su 12) -->
        <div id="game-area" class="col-10">
            <div class="scrollable-content p-3">
                <p>Contenuto scrollabile...</p>
                <p>Altro contenuto scrollabile...</p>
            </div>
        </div>

        <div class="game-footer-fixed w-100">
            <h4 class="text-center m-0">Riga Fissa Inferiore</h4>
          </div>
    </div>
</div>