.border-area{
    padding: .5rem !important;
}

.form-control {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.statistic-group{
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.ship-group{
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}
.attribute-class{
    max-height: 30px;
    height: 30px;
    min-height: 30px;
}
.input-text-center{
    text-align: center;
}
.text-area-ship{
    height: 100%!important;
    max-height: 100%!important;
    min-height: 100%!important;

}

.compact-table {
    font-size: 0.8rem; /* Riduce la dimensione del font dell'intera tabella */
}

.compact-table .mat-row,
.compact-table .mat-header-row {
    height: 24px; /* Imposta un'altezza ridotta per ogni riga */
}

.compact-table .mat-cell,
.compact-table .mat-header-cell {
    padding: 2px 4px; /* Riduce il padding delle celle */
    line-height: 1; /* Riduce l'altezza della linea per una maggiore compattezza */
}

.compact-form-field .mat-form-field-wrapper {
    padding: 0; /* Rimuove padding interno del form field */
    min-height: 24px; /* Riduce l'altezza del campo di input */
}

.compact-form-field .mat-form-field-infix {
    padding: 0 4px; /* Riduce il padding laterale dell'input */
    min-height: 24px;
}

.compact-form-field input.mat-input-element {
    height: 24px; /* Imposta una altezza fissa per l'input */
    line-height: 1; /* Riduce l'altezza della linea */
    padding: 0; /* Rimuove il padding dell'input */
}

/* Altezza ridotta per desktop */
.row-table-fix {
    height: 38px !important;
    max-height: 38px !important;
    min-height: 38px !important;
}

