<div mat-dialog-content class="w-100 h-100 d-flex flex-column">
    <form *ngIf="character" #characterForm="ngForm" (ngSubmit)="save(characterForm)" class="w-100 h-100">
        <div class="d-flex justify-content-between align-items-center mb-3 sticky-top bg-white">
            <h2 class="fw-bold">
                {{ character ? ('ULTIMA_ROTTA.CREATE_CHARACTER.EDIT_CHARACTER' | translate) :
                ('ULTIMA_ROTTA.CREATE_CHARACTER.CREATE_CHARACTER' | translate) }}
            </h2>

            <div class="d-flex">
                <app-field-button 
                    colorClass="btn-success btn-sm me-2" 
                    icon="save" 
                    tooltip="{{ 'ULTIMA_ROTTA.SHEET.SAVE_CHARACTER' | translate }}" 
                    [isDisabled]="!characterForm.valid" 
                    (buttonClick)="characterForm.ngSubmit.emit()">
                </app-field-button>

                <app-field-button 
                    colorClass="btn-danger btn-sm" 
                    icon="cancel" 
                    tooltip="{{ 'ULTIMA_ROTTA.SHEET.CANCEL' | translate }}" 
                    (buttonClick)="close()">
                </app-field-button>

            </div>
        </div>

        <div class="overflow-auto">

            <div class="col-12 col-md-12 col-lg-12 d-flex flex-column h-100 mb-3">
                <h4 class="section-title justify-content-start">Bascic information</h4>
                <div class="row p-3 m-0 border d-flex justify-content-start align-items-center">
                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="fill" class="w-100 m-0">
                            <mat-label>{{ 'ULTIMA_ROTTA.SHEET.SONO' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="character.name" name="name" required>
                        </mat-form-field>
                    </div>
            
                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{ 'ULTIMA_ROTTA.SHEET.UN_UNA' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="character.genetic_and_role" name="genetic_and_role" required>
                        </mat-form-field>
                    </div>
            
                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{ 'ULTIMA_ROTTA.SHEET.EXCELLENCE' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="character.excellence" name="excellence">
                        </mat-form-field>
                    </div>
            
                    <div class="col-12 col-md-3">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{ 'ULTIMA_ROTTA.SHEET.ROLE_IN_THE_CREW' | translate }}</mat-label>
                            <input matInput type="text" [(ngModel)]="character.role_in_the_crew" name="role_in_the_crew">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            

            <div class="col-12 col-md-12 col-lg-12 d-flex flex-column h-100 mb-3">
                <h4 class="section-title">{{ 'ULTIMA_ROTTA.SHEET.ATTRIBUTES' | translate }}</h4>
                <div class="row p-3 m-0 border d-flex justify-content-start align-items-center">
                    <div *ngFor="let attribute of character.attributes"
                        class="col-6 col-sm-6 col-md-4 col-lg-3 justify-content-center align-items-center">
                        <label class="form-label  fw-semibold w-100 text-center">
                            {{ 'ULTIMA_ROTTA.ATTRIBUTES.' + attribute.code | translate }}
                        </label>
                        <div class="d-flex justify-content-center align-items-center">
                            <mat-form-field appearance="fill" class="m-2">
                                <input matInput type="number" [(ngModel)]="attribute.value"
                                    [name]="attribute.code + 'Value'" step="1">
                            </mat-form-field>

                            <label class="form-label text-center mx-1  fw-semibold">D</label>

                            <mat-form-field appearance="fill">
                                <input matInput type="number" [(ngModel)]="attribute.bonus"
                                    [name]="attribute.code + 'Bonus'" step="1">
                            </mat-form-field>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-12 d-flex flex-column h-100 mb-3">
                <h4 class="section-title">{{ 'ULTIMA_ROTTA.SHEET.ADDITIONAL_INFO' | translate }}</h4>
                <div class="row p-3 m-0 border d-flex justify-content-start align-items-center">
                    <div class="col-12 col-md-4 col-lg-4 d-flex flex-column h-100">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{ 'ULTIMA_ROTTA.SHEET.ABILITIES' | translate }}</mat-label>
                            <textarea matInput [(ngModel)]="character.allAbilities" name="allAbilities"
                                class="flex-grow-1" rows="10"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 d-flex flex-column h-100">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{ 'ULTIMA_ROTTA.SHEET.EQUIP' | translate }}</mat-label>
                            <textarea matInput [(ngModel)]="character.allEquipment" name="allEquipment"
                                class="flex-grow-1" rows="10"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4 d-flex flex-column h-100">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-label>{{ 'ULTIMA_ROTTA.SHEET.SHIP' | translate }}</mat-label>
                            <textarea matInput [(ngModel)]="character.ship" name="ship" class="flex-grow-1"
                                rows="10"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
