/* Contenitore principale a schermo intero */
.full-screen-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* Intestazione fissa */
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* Piè di pagina fisso */
.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.scrollable-content {
    flex-grow: 1;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #f5f5f5;
    width: 100%;
    height: calc(100vh - 110px); /* 100vh meno l'altezza totale di header e footer */
}

/* Altezza per desktop */
@media (min-width: 1367px) {
    .header-fixed {
        height: 100px;
    }
    .footer-fixed {
        height: 100px;
    }

    .scrollable-content {
        margin-top: 100px;
        margin-bottom: 100px;
        height: calc(100vh - 200px);
    }
}

@media (min-width: 992px) and (max-width: 1366px) {
    .header-fixed {
        height: 100px;
    }

    .footer-fixed {
        height: 80px;
    }

    .scrollable-content {
        margin-top: 100px;
        margin-bottom: 80px;
        height: calc(100vh - 180px);
    }
}

/* Altezza per tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .header-fixed {
        height: 100px;
    }
   .footer-fixed {
        height: 65px;
    }

    .scrollable-content {
        margin-top: 100px;
        margin-bottom: 65px;
        height: calc(100vh - 165px);
    }
}

/* Altezza per smartphone */
@media (max-width: 767px) {
    .header-fixed {
        height: 200px;
    }

    .footer-fixed {
            height: 150px;
    }

    .scrollable-content {
        margin-top: 200px;
        margin-bottom: 150px;
        height: calc(100vh - 350px);
    }
}