/* Imposta il layout con flexbox */
.container-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* Navbar: Desktop */
.system-navbar {
   
}

/* Router container */
.router-container {
    flex: 1; /* Riempi lo spazio tra la navbar e il footer */
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.system-footer{
    
}


/* Media query per dispositivi mobili */
@media (max-width: 768px) {
    /* Navbar più grande sui dispositivi mobili */
    .system-navbar {
        flex: 0 0 10vh; /* Altezza aumentata per dispositivi mobili */
        min-height: 10vh;
    }

    /* Router container: altezza dinamica */
    .router-container {
        flex: 1; /* Riempi lo spazio rimasto */
    }
}
