<div class="full-screen-container">
      <!-- Intestazione fissa -->
    <header class="header-fixed">
            <app-system-navbar class="w-100 h-100"></app-system-navbar>
    </header>

    <!-- Contenitore centrale scrollabile -->
    <main [ngClass]="showFooter ? 'main-container-with-footer' : 'main-container-no-footer'">
        <router-outlet class="w-100 h-100"></router-outlet>
    </main>

    <!-- Piè di pagina fisso -->
    <div *ngIf="showFooter" class="footer-fixed w-100">
        <app-system-footer (showFooter)="onShowFooterChange($event)" class="w-100 h-100"></app-system-footer>
    </div>
</div>
