<div *ngIf="table" class="table-container w-100 h-100">
  <table class=" table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let column of table.columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of table.data">
        <td *ngFor="let column of table.columns">{{ row[column] }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Se le note sono presenti, visualizzale sotto la tabella -->
  <div class="table-notes" *ngIf="notesToShow.length">
    <ul>
      <li *ngFor="let note of notesToShow">
        <strong>{{ note?.symbol }}</strong>: {{ note?.description }}
      </li>
    </ul>
  </div>
</div>