<!-- Contenuto di app-system-footer -->
<div class="footer bg-dark text-white w-100 p-2">
  <div class="row w-100 m-0">
    <!-- Colonna per il titolo (3 su desktop/tablet, 12 su mobile) -->
    <div class="col-12 col-md-3 d-flex justify-content-center align-items-center">
      <h4>{{ 'SYSTEM_FOOTER.TITLE' | translate }}</h4>
    </div>

    <!-- Colonna per la descrizione (6 su desktop/tablet, 12 su mobile) -->
    <div class="col-12 col-md-6 d-flex justify-content-start align-items-center">
      <p class="mb-2">{{ 'SYSTEM_FOOTER.DESCRIPTION' | translate }}</p>
    </div>

    <!-- Colonna per il pulsante PayPal (3 su desktop/tablet, 12 su mobile) -->
    <div class="col-12 col-md-3 d-flex justify-content-center align-items-center">
      <div id="paypal-donate-button-container"></div>
    </div>
  </div>
</div>