<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon>settings</mat-icon>
      {{ 'ULTIMA_ROTTA.DEATH_SUN.TITLE' | translate }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- Sezione Impostazioni di Partenza -->
    <div *ngIf="!showRollDice" class="initial-settings">
      <h3 class="settings-title">{{ 'ULTIMA_ROTTA.DEATH_SUN.INIT' | translate }}</h3>

      <div class="settings-inputs">
        <mat-form-field appearance="outline" class="settings-field">
          <mat-label>{{ 'ULTIMA_ROTTA.DEATH_SUN.TEST_BONUS' | translate }}</mat-label>
          <input matInput type="number" [(ngModel)]="deathSunBonus" [disabled]="deathSunBonus > 20">
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="settings-field">
          <mat-label>{{ 'ULTIMA_ROTTA.DEATH_SUN.GLOBAL_COUNTER' | translate }}</mat-label>
          <input matInput type="number" [(ngModel)]="counterPermanentDeathOfSun">
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="showRollDice">

      <!-- Contenuto del resto del componente -->
      <div *ngIf="deathSunBonus > 20; else rollDiceTemplate" class="bonus-greater-section">
        <app-field-button *ngIf="!diceRolled" class="dice-button d-flex justify-content-center align-items-center" colorClass="btn-accent" icon="casino"
                tooltip="{{ 'ULTIMA_ROTTA.DEATH_SUN.ROLL_SMALL_DICE' | translate }}" (buttonClick)="rollSmallDice()" [isDisabled]="diceRolled">
        </app-field-button>
        <mat-divider class="settings-divider mt-2"></mat-divider>
        <p *ngIf="smallDiceResult !== null" class="dice-result">{{ 'ULTIMA_ROTTA.DEATH_SUN.DICE_RESULT' | translate : { result: smallDiceResult } }}</p>

        <div class="action-text" *ngIf="smallDiceResult === 1">{{ 'ULTIMA_ROTTA.DEATH_SUN.ACTION_RESULT_1' | translate }}</div>
        <div class="action-text" *ngIf="smallDiceResult === 6">{{ 'ULTIMA_ROTTA.DEATH_SUN.ACTION_RESULT_6' | translate }}</div>
        <div *ngIf="smallDiceResult !== 1 && smallDiceResult !== 6 && smallDiceResult !== null">
          {{ 'ULTIMA_ROTTA.DEATH_SUN.NO_ACTION' | translate }}
        </div>
        <p *ngIf="counterPermanentDeathOfSun == 3" style="color: red;">{{ 'ULTIMA_ROTTA.DEATH_SUN.SUN_DEATH' | translate }}</p>
      </div>

      <ng-template #rollDiceTemplate>
        <p class="instruction-text">{{ 'ULTIMA_ROTTA.DEATH_SUN.ROLL_DICE_INSTRUCTION' | translate }}</p>
        <app-field-button *ngIf="!diceRolled" colorClass="btn-primary" icon="casino" [isDisabled]="diceRolled"
                tooltip="{{ 'ULTIMA_ROTTA.DEATH_SUN.ROLL_DICE' | translate }}" (buttonClick)="rollDice()" class="d-flex justify-content-center align-items-center">
        </app-field-button>

        <p *ngIf="diceResult !== null" class="dice-result">{{ 'ULTIMA_ROTTA.DEATH_SUN.DICE_RESULT' | translate: { result: diceResult } }}</p>

        <div *ngIf="selectedDeathSun && selectedDeathSun.code !== ''" class="death-sun-result">
          <mat-divider class="settings-divider mb-2"></mat-divider>
          <strong><p class="death-sun-description">{{ (selectedDeathSun.description || '') | translate }}</p></strong>
          <p class="death-sun-bonus">{{ 'ULTIMA_ROTTA.DEATH_SUN.TEST_BONUS' | translate }}: + {{ selectedDeathSun.bonus }}</p>
        </div>
      </ng-template>
    </div>
  </mat-card-content>

  <mat-divider class="settings-divider mt-2"></mat-divider>
  <!-- Azioni (Pulsanti di chiusura e conferma) -->
  <mat-card-actions class="d-flex justify-content-center align-items-center">
    <app-field-button colorClass="btn-primary" icon="close"
                tooltip="{{ 'ULTIMA_ROTTA.DEATH_SUN.CLOSE' | translate }}" (buttonClick)="closeDialog()">
      </app-field-button>
  </mat-card-actions>
</mat-card>
