<div class="game-features d-flex justify-content-center align-items-center">
    <div class="feature-buttons d-flex flex-wrap justify-content-center align-items-center">

        <div class="row p-1" *ngFor="let feature of activeFeatures">
            <button mat-raised-button matTooltip="{{ feature.tooltip }}" matTooltipPosition="above"
                (click)="openFeature(feature.component)">
                <mat-icon>{{ feature.icon }}</mat-icon>
                <span>{{ feature.description }}</span>
            </button>
        </div>
    </div>
</div>