<div class="game-features h-100 d-flex flex-column align-items-center w-100">

  <div class="d-flex justify-content-start align-items-center flex-column text-center" style="min-height: 100%;">
    <div *ngIf="menuOpen" class="w-100">
      <div *ngIf="gameConfig.img" class="d-flex flex-row justify-content-center align-items-center mb-3">
        <img [src]="gameConfig.img" [alt]="gameConfig.title" class="route-image">
      </div>

      <div class="d-flex flex-row justify-content-center align-items-center mb-3">
        <span [ngClass]="gameConfig.css"> {{gameConfig.title}} </span>
        <button (click)="toggleMenu()" class="toggle-menu-button btn btn-link">
          <mat-icon>{{ menuOpen ? 'menu_open' : 'menu' }}</mat-icon>
        </button>
      </div>

      <!-- Feature Buttons (Menu) -->
      <div class="feature-buttons d-flex flex-column align-items-center">
        <div class="d-flex flex-row button-feature w-100 justify-content-center mb-2"
          *ngFor="let feature of activeFeatures">
          <button mat-button (click)="activateFeature(feature)"
            [ngClass]="{'active-button': getFeatureUrl(feature) === activatedUrl}"
            class="d-flex justify-content-start align-items-center w-100">

            <!-- Align icon and text to the left -->
            <mat-icon class="me-2">{{ feature.icon }}</mat-icon>
            <span class="text-start">{{ feature.description }}</span>
          </button>
        </div>
      </div>

    </div>

      <div *ngIf="!menuOpen" class="w-100">
        <div class="h-100 w-100 justify-content-start align-items-center">
          <button (click)="toggleMenu()" class="toggle-menu-button btn btn-link text-center">
            <mat-icon>{{ menuOpen ? 'menu_open' : 'menu' }}</mat-icon>
          </button>
        </div>
      </div>
  </div>
</div>