<div class="wrapper-modal">
    <div class="container-fluid p-0">   
        <mat-card class="w-100 h-100 d-flex flex-column">
            <mat-card-header class="d-flex justify-content-between align-items-center">
                <!-- Title aligned to the left -->
                <mat-card-title class="text-start">
                    {{title}}
                </mat-card-title>
                
                <!-- Actions aligned to the right -->
                <mat-card-actions>
                    <ng-container *ngFor="let action of sortedDialogActions">
                      <app-field-button [config]="action">
                      </app-field-button>
                    </ng-container>
                  </mat-card-actions>
                  
              </mat-card-header>
              <mat-card-content class="w-100">
                <ng-content></ng-content>
              </mat-card-content>
        </mat-card>
    </div>

</div>