<div class="w-100 h-100 p-3">
    <div class="d-flex mb-3 w-100">
        <div class="d-flex flex-column w-100">
            <div class="col-12">
                <h1 class="d-flex col-12 justify-content-start align-items-center">
                    <strong>{{'ULTIMA_ROTTA.CREATE_CHARACTER.CREATE_CHARACTER' | translate }}</strong>
                </h1>
            </div>
            <div class="col-12 d-flex flex-row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 justify-content-start align-items-center">
                    <app-session-manager-widget class="me-2"
                        (sessionLoaded)="onSessionLoaded($event)"></app-session-manager-widget>
                </div>
                <div class="d-flex col-12 col-sm-12 col-md-8 col-lg-8 justify-content-end">
                    <button class="btn btn-secondary btn-sm me-2" (click)="generateRandom(true)">
                        {{ 'ULTIMA_ROTTA.CREATE_CHARACTER.GENERATE_RANDOM' | translate }}
                    </button>
                    <button class="btn btn-success btn-sm me-2" (click)="printPDF()">
                        <div class="row d-flex flex-row justify-content-start align-items-center">

                            <div class="col-9 d-flex m-0 justify-content-start">
                                {{ 'ULTIMA_ROTTA.CREATE_CHARACTER.PRINT_RANDOM' | translate }}
                            </div>
                            <div class="col-3 d-flex m-0 justify-content-start">
                                <mat-icon>print</mat-icon>
                            </div>
                        </div>
                    </button>
                    <button class="btn btn-primary btn-sm" (click)="openCharacterDialog()">
                        {{'ULTIMA_ROTTA.CREATE_CHARACTER.CREATE_NEW_CHARACTER' | translate}}
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="characters.length > 0; else noCharacters" class="row g-2">
        <div *ngFor="let character of characters" class="col-6 col-md-4 col-lg-3">
            <mat-card class="h-100">
                <mat-card-header>
                    <mat-card-title>
                        <h4>{{ character.name }}</h4>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex flex-row">
                        <div class="col-12">
                            <h5>
                                {{ character?.genetic_and_role }}
                            </h5>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="d-flex row w-100">
                        <div class="d-flex col-sm-6 col-md-3 col-lg-3">
                            <mat-icon class="icon-edit" (click)="openCharacterDialog(character)">edit</mat-icon>
                        </div>
                        <div class="d-flex col-6 col-sm-6 col-md-3 col-lg-3">
                            <mat-icon class="icon-delete" (click)="deleteCharacter(character)">delete</mat-icon>
                        </div>
                        <div class="d-flex col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="row d-flex">
                                <div class="d-flex col-12 align-items-center justify-content-end">
                                    <mat-icon class="icon-print" (click)="printPDF(character)">print</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <ng-template #noCharacters>
        <div class="alert alert-info text-center">{{ 'ULTIMA_ROTTA.CREATE_CHARACTER.NO_CHARACTERS' | translate }}</div>
    </ng-template>
</div>